body {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(235, 228, 228);
    font-size: 16px;
}
.input-box input::placeholder {
    color: rgb(235, 228, 228);
}


.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(239, 228, 228);
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 70px;
    color: teal;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: black;
    color: white;
}

.error {
    color: red;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}